.Records{
    background:#fff;
    border-radius:15px;
    padding:10px 15px;
    margin-top:20px;
}
.Records .Title{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    align-items: center;
    font-weight: bold;
    padding: 12px 20px;
    background: #f7f7f7;
    border-bottom: 2px solid #e0e0e0;
    font-size: 1.05rem;
}

.Records .data div span{
    font-size:20px;
    font-weight:800;

}